@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Solway:wght@400;700&display=swap" />

<div style="height: 80vh; display: flex; align-items: center; justify-content: center;">
    <div style="font-family: 'Solway', serif; font-size: 36px; text-align: center;">
        <h1>Welcome to Geo Plant Care!</h1>
        <p>"Wherever you are, we've got your plants covered! 🌱🌍"</p>
        <p>Get ready to discover personalized plant care tips based on your location. Let's keep your green friends thriving together! 🌿💚</p>
        <p style="color: #2FBA89;">Please select your location</p>
    </div>
</div>
